{% extends 'base.html' %}
{% block title %}
    <title>BerelkaShop</title>
{% endblock %}

{% block body %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">BerelkaShop</h1>
        <p class="lead text-muted">There are rules of this shop.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% for el in data %}

        <div class="col">
          <a class="item" href="{{ url_for('item', id=el.id ) }}" >
          <div class="card shadow-sm">
            <div>
              {%if el.images %}
               <img src='{{el.images[0].link }}' data-fancybox={{el.id}} width="100%" >
              {%endif%}
            </div>

            <div id="thumbCarousel" class="carousel max-w-xl mx-auto">
              <div class="carousel__slide">
                {% for image in el.images %}
                <img class="panzoom__content" src="{{ image.link }}" height="40" >
                {% endfor %}
              </div>
            </div>

            <div class="card-body">
              <a  href="{{ url_for('item', id=el.id ) }}" class="item card-text">{{ el.title }} {{ el.width }} x {{ el.height }} cm </a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <ul class="horizontal-flex filters-our-works list">
                    <li><a href="{{ url_for('cart', id=el.id)}}" class="link our-works-button">Add to cart</a></li>
                    <li><a href="" class="link our-works-button">Buy</a></li>
                  </ul>
                </div>
                <small class="text-muted">{{ el.price }} грн.</small>
              </div>
            </div>
          </div>
        </a>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}